org.eclipse.core.res*/
org.eclipse.debug.*/
org.eclipse.jdt.*/
org.eclipse.jst.*/
org.eclipse.ltk.*/
org.eclipse.m2e.*/
org.eclipse.mylyn.*/
org.eclipse.rser.*/
org.eclipse.wst.*/
org.eclipse.ui/
org.eclipse.ui.*/
org.eclipse.pde.*/
org.eclipse.epp.*/
org.eclipse.equinox.*/
org.eclipse.rse.*/
org.eclipse.tm.*/
org.eclipse.search/
org.eclipse.reco*/
org.eclipse.oomph.*/
org.spring*/
org.tigris.*/



